/* .artist_management {
  width: 80%;
  margin: auto;
}

.total_artist {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #fff0f1;
  height: fit-content;
  text-decoration: none;
  width: fit-content;
  font-family: Poppins;
  font-size: 18px;
  border-radius: 30px;
  font-weight: 400;

  margin: 4px 2px;
  cursor: pointer;
}

.button {
  border: none;
  color: black;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #fff0f1;

  text-decoration: none;
  width: fit-content;
  font-family: Poppins;
  font-size: 18px;
  border-radius: 30px;
  font-weight: 400;

  cursor: pointer;
}
#sortDropdown {
  border: none;
  background: transparent;
}
#sortDropdown::selection {
  background-color: #ad2f3b;
}
.artist_management_topdivision {
  width: 77%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.artist_management_topdivision h1 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.artist_management_profile img {
  border-radius: 50%;
  border: 1px solid;
  width: 125px;
  height: 125px;
}
.artist_management_profile h1 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #ad2f3b;
  text-align: center;
}

.hiddenicon {
  margin-top: 26px;
  font-size: 26px;
}
.artist_top_buttons {
  width: 77%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.artist_management_profile h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  text-align: center;
}

.artist_top-division {
  width: 60%;
  margin-top: 70px !important;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.artist_management_profile {
  display: flex;
  flex-direction: column;
  text-align: center;
} */



.artist_management {
  width: 80%;
  margin: auto;
}

.total_artist {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #fff0f1;
  height: fit-content;
  text-decoration: none;
  width: fit-content;
  font-family: Poppins;
  font-size: 18px;
  border-radius: 30px;
  font-weight: 400;

  margin: 4px 2px;
  cursor: pointer;
}

.button {
  border: none;
  color: black;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #fff0f1;

  text-decoration: none;
  width: fit-content;
  font-family: Poppins;
  font-size: 18px;
  border-radius: 30px;
  font-weight: 400;

  cursor: pointer;
}
#sortDropdown {
  border: none;
  background: transparent;
}
#sortDropdown::selection {
  background-color: #ad2f3b;
}
.artist_management_topdivision {
  width: 77%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.artist_management_topdivision h1 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.artist_management_profile img {
  border-radius: 50%;
  border: 2px solid white;
  width: 125px;
  height: 125px;
}
.artist_management_profile h1 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #ad2f3b;
  text-align: center;
}

.hiddenicon {
  margin-top: 26px;
  font-size: 26px;
}
.artist_top_buttons {
  width: 77%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.artist_management_profile h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  text-align: center;
}

.artist_top-division {
  width: 60%;
  margin-top: 70px !important;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.artist_management_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30%;
}
