.artist_top-division {
  width: 80%;
  margin: auto;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;

  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ad2f3b;
}

.artist_circleprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ad2f3b;
  margin-top: 20px;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  justify-content: center;
}

.artist_circleprofile img{
    border-radius: 50%;
    border: 1px solid;
    height: 170px;
    width: 170px;
}
/* .artist-ManageProfile {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 760px;
  height: 460px;
  flex-shrink: 0;
  padding: auto 10px;
  background: rgba(255, 240, 241, 0.7);
  border-radius: 31px;
  box-shadow: 0px 4px 4px 0px #00000040;
} */

.artist_art-ManageProfile {
 
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 460px;
  height: 200px;
  flex-shrink: 0;
  padding: auto 10px;
  border-radius: 10px;
  background: #FFD3D8;
}
.basic_profile h1 {
  gap: 14px;
  display: flex;
  padding: 14px;
  color: #ad2f3b;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  
}
.artist_art-ManageProfile h1 {
  width: 75%;
  margin: auto;
  color: #ad2f3b;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.left-division {
  flex: 1 1;
  padding: 20px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  color: #ad2f3b;
}

.profile_heading {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.basic_profile-card{
  display: flex;
  flex-direction: row;
}
.performance_profile{
  width: 460px;
  height: 200px;
  flex-shrink: 0;
  padding: auto 10px;
  border-radius: 10px;
  background: #FFD3D8;
}

.performance_profile h1{
  width: 75%;
  margin: auto;
  color: #ad2f3b;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.right-division {
  flex: 1;
  padding: 20px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
  color: #ad2f3b;
}

.profilesection-heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profileparagraph-text {
  font-size: 18px;
  margin-bottom: 15px;
  color: #818181;
  font-weight: 500;
}

.profile-card {
  display: flex;
  width: 80%;
  margin: auto;
}
.view_more {
  border: none;
  display: flex;
  margin: auto;
  background: #ad2f3b;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: fit-content;
  border-radius: 50px;
  color: white;
  padding: 15px 28px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}






/* YourCard.css */

.OtherDetails_card {
  width: 80%;
  max-width: 400px; 
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd; /* Optional: Add borders for better visibility */
  border-radius: 8px;
  background: #FFD3D8;

}

.major_events{
  font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #818181;

}
.left_content_profile{
  display: flex;
  flex-direction: row;
}
h2 {
  margin-bottom: 15px;
}

.sub-container {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}


/* Media query for responsiveness */
@media (min-width: 768px) {
  .OtherDetails_card {
    width: 60%;
  }

  .sub-container {
    width: 48%;
    display: inline-block;
    margin-right: 2%;
  }
}

.main-container {
  display: flex;
 width: 90%;
 margin: auto;
  overflow: hidden;
  transition: height 0.5s ease;
}

.left-container{
width: 40%;
padding: 20px;
}
.right-container {
  width: 50%; /* Adjust the width as needed */
  padding: 20px;
  box-sizing: border-box;
}

.subdiv-left {
  height: 50px;
  background-color: green;
}

.subdiv-right {
  height: 50px;
  background-color: yellow;
}

.viewmore-container {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

button {
  padding: 10px;
  cursor: pointer;
}



.aboutartist{
  width: 85%;
  font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #818181;

}
.aboutartist h2{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #AD2F3B;
  
}

.right_bottom_container{
  background: #FFD3D8;
width: 60%;
height: 40vh;
border-radius: 10px;
}

.paragraph-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
  color: #818181;
  font-size: 16px;
  margin-bottom: 15px;
}

.section-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
