
.opportunity-profile {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 838px;
  height: 1318px;
  flex-shrink: 0;
  padding: auto 10px;
  background: rgba(255, 240, 241, 0.7);
  border-radius: 31px;
}

.opportunity-profile {
  text-align: center;
}

.opportunity-heading {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: #ad2f3b;
}

.sub-heading {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.subdiv {
  flex: 1;
  margin: 0 10px;
  text-align: center;
  width: 40px;
  height: 40px;
  top: 538px;
  left: 618px;
}

.icon {
  font-size: 24px;
  margin-bottom: 5px;
}

.text {
  font-size: 16px;
}

.profile-card {
  display: flex;
  margin: 20px;
}
.top-division {
  width: 80%;
  margin: auto;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #ad2f3b;
}
.top-division h2{
  color: #000000;
  font-size: 22px;
}
.left-division {
  text-align: left;
  width: 30%;
  padding: 20px;
  border-right: 1px solid black;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #ad2f3b;
}
.paragraph-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
  color: #818181;
}

.right-division {
 width: 70%;
  padding: 20px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
  color: #ad2f3b;
}

.section-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.paragraph-text {
  font-size: 16px;
  margin-bottom: 15px;
}

.list-heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.list-item {
  margin-left: 10px;
  list-style: disc;
  color: #818181;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.profile-footer {
  width: 838px;
  height: 73px;
  flex-shrink: 0;
  background: #ad2f3b;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
.profile-footer h3{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
  letter-spacing: 0em;
  text-align: left;
}
.socialicon{
  display: flex;
  align-items: center;
  gap: 10px;
}


.icon-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.icon-text{
  font-size: 17px;
  color:  #000000;
}
.profile-middle{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}
.profileicons{
font-size: 23px;
padding: 8px;
color: white;
}
.icons{
  background-color: #AD2F3B;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}