.manage_languages_heading{
  width: 940px;
  margin: auto;
  text-align: left;
}
.manageapplication {
  display: flex;
  flex-direction: row;
}
.Application {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 10px;
  width: 960px;
  height: 700px;
  padding: auto 10px;
  background: rgba(255, 240, 241, 0.7);
  border-radius: 31px;
 
}

.search{
  display: flex;
  gap: 8px;
  color: #818181;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #4f4f4f;
  align-items: center;
 
}
.searchicon{
  margin-left: 3px;
  font-size: 25px;
  color: #5B5959;
}
.plus{
  color: #AD2F3B;
margin-top: 20px;
  font-size: 30px;
}
.filter-dropdown-applications{
    margin: 5rem auto  0rem  auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    color: #000;
    gap: 10px;
    align-items: center;
    font-family: Poppins;
    font-size: 18px;
}
.dropdown-applications{
    width: 203px;
    height: 35px;
    flex-shrink: 0;
    color: #818181;
    border-radius: 5px;
    background: transparent;
  border: 1px solid #4F4F4F;
}
.filter {
  display: flex;
  gap: 10px;
  align-items: center;
}
.traditionaldance {
  display: flex;
  margin: auto;
  width: 840px;
}
.filter-dropdown-applications input {
  background: transparent;
  width: 465px;
  height: 35px;
  top: 329px;
  font-size: 18px;
  left: 606px;
 border: none;
}

.traditionaldance-left-div {
  flex: 1;
  padding: 20px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
.applicationdrop{
  display: flex;
  align-items: center;
  color: #000000;
}

.traditionaldance-right-div {
  flex: 1;
  padding: 20px;
}

.traditionaldance-left-div ul {
  list-style-type: none;
  padding: 0;
  margin-left: 21px;
}

.traditionaldance-left-div li {
  margin-bottom: 8px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #818181;
}

.traditionaldance-right-div img {
    padding: 80px;
    width: 50%;
    height: auto;
}



.dashboard-filter{
  width: 200px;
}
.dashboard-select{
  margin-left: -4px;
  font-family: Poppins;
  font-size: 18px;
  border: none;
  background: transparent;
}





/* YourComponent.css */

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  cursor: pointer;
  padding: 5px;
  border: none;
  margin: 0 5px;
  color: #333;
  text-decoration: none;

  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination .active {
 
  color: black;
}

.pagination .break-me {
  cursor: default;
}

.pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination li {
  list-style: none;
}
